body {
    background: url('bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #060;
  
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.copyright{
	float:bottom;
	color:white;
	font-size:10px;
	text-align:center;
}

html, body {
			
            height: 100%;
            margin: 0;
        }